<extend name="Base/common"/>
<block name="body">
    <div class="col-md-12  padding-top15">
        <ol class="breadcrumb">
          <li><a href="{:U('Home/Index')}">首页</a> </li>
          <li><a href="javascript:;">购物车</a></li>
        </ol>
        <div class="alert alert-success" id="show_alert" style="display:none;">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>提示!</strong> <span></span>
        </div>
        <table class="table table-bordered mytable">
          <thead>
            <tr>
              <th><input type='checkbox' name='check_all' class='check_all_goods'></th>
              <th>商品id</th>
              <th>商品名称</th>
              <th>价格</th>
              <th>总价</th>
              <th>购买数量</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody class="table_tbody">
            <foreach name="list" item="vo" key="key">
            <tr style="text-align:center;" id='goods_{$key}'>
            <td><input type="checkbox" class='ids' name="goods_ids" value="{$key}" /></td>
              <td>{$key}</td>
              <td><span class="name">{$vo.goods_name}</span></td>
              <td><span class="price">{$vo.goods_price}</span>元</td>
              <td><span class="all_price">{$vo.goods_all_price}</span>元</td>
              <td class="goods_number">
                <ul>
                    <li>
                    <span class="number_add_btn" goods_id={$key} price="{$vo.goods_price}" type="add">+</span></li>
                    <li>
                      <input goods_id={$key} change_type="mutli"  type="text" value="{$vo.goods_account}" name='number' class='number_input' />
                    </li>
                    <li><span class="number_del_btn" goods_id={$key} price="{$vo.goods_price}" type="del">-</span></li>
                </ul>
              </td>
              <td><a href="javascript:;delGoodsInfoAction({$key} , this)">删除</a></td>
            </tr>
            </foreach>
            <if condition="empty($list)">
              <tr><td colspan="7">
                暂无商品，请继续<a href="{:U('Goods/Goodslist')}">购物</a>
              </td></tr>
            </if>
            <tr><td colspan="1">
              <a class="btn btn-danger"  id="delAllGoods">删除</a>
            </td>
            <td colspan="3">
            </td>
            <td colspan="1"><h5>商品index总金额：<span  class="total_price">{$total_price|default=0}</span>&nbsp;元</h5></td>
            <td colspan="2">
              <a class="btn btn-info" href="{:U('Home/Goods/Goodslist')}">继续购物</a>
              <a class="btn btn-danger" href="{:U('Home/Goods/addOrder')}">马上下单</a>
            </td>
            </tr>
          </tbody>
        </table>
        <input type="hidden" value="0" name="total_price" />
    </div>
    <div class="dialog" id="dialog_goods" style="display:none;"></div>
</block>
