<div class="navbar  navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="color: #000"> 导航栏 <span> </span> </a>
    <a class="brand" href="{:U('index/index')}" name="top"><font color='#777777'>OneThink</font></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
            <think:nav name="nav">
                <eq name="nav.pid" value="0">

                    <li class="divider-vertical"></li>
                    <li <if condition="$guide eq $nav['title']">class="active"</if> >
                        <a href="{$nav.url|get_nav_url}" target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">
                            {$nav.title}</a></li>
                </eq>
            </think:nav>
        <li class="divider-vertical"></li>
        </ul>
        <ul class="nav pull-right">
        <if condition="is_login()">
            <li class="<if condition='$guide eq "usercenter"'>active</if>">
                <a href="{:U('Home/User/index')}">
                <i class="icon-home"></i> 用户中心</a>
            </li>
            <li class="<if condition='$guide eq "message"'>active</if>">
                <a class="dropdown-toggle" href="{:U('/Home/Message')}"><i class="icon-envelope"></i> 消息中心&nbsp;&nbsp;<span id="message_number" class='badge badge-info msg_num <if condition="!getUnReadMessageCount(0)">hide</if>'>{:getUnReadMessageCount(0)}</span></a>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{:get_username()}<b class="caret"></b> </a>
                <ul class="dropdown-menu">
                    <li> <a href="{:U('User/profile')}"> <i class="icon-cog"></i> 修改密码 </a> </li>
                    <li> <a href="{:U('Goods/Index')}"> <i class="icon-cog"></i> 购物车 <span id="goodscart_number" class='badge badge-info msg_num'>0</span></a> </li>
                    <li class="divider">&nbsp;</li>
                    <li><a href="{:U('User/logout')}"><i class="icon-off"></i>  退出</a></li>
                </ul>
            </li>
        <else/>
            <ul class="nav pull-right">

                <li><a href="{:U('User/Register')}">注册</a></li>
                <li class="divider-vertical"></li>
                <li class=""><a href="{:U('User/login')}">登录</a></li>
            </ul>
        </if>
        </ul>
      </div>
    </div>
  </div>
</div>
