<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>{$Think.Lang.L_BACKUP_DATEBASE}</h2>
    </div>
    <!-- /标题栏 -->

    <!-- 应用列表 -->
    <div class="data-table table-striped">
        <table>
            <thead>
                <tr>
                    <th width="200">{$Think.Lang.L_TH_NAME}</th>
                    <th width="80">{$Think.Lang.L_TH_VOLUME}</th>
                    <th width="80">{$Think.Lang.L_TH_COMPRESSION}</th>
                    <th width="80">{$Think.Lang.L_TH_DATA_SIZE}</th>
                    <th width="200">{$Think.Lang.L_TH_CREATE_TIME}</th>
                    <th>{$Think.Lang.L_TH_STATUS}</th>
                    <th width="120">{$Think.Lang.L_TH_ACTION}</th>
                </tr>
            </thead>
            <tbody>
                <volist name="list" id="data">
                    <tr>
                        <td>{$data.time|date='Ymd-His',###}</td>
                        <td>{$data.part}</td>
                        <td>{$data.compress}</td>
                        <td>{$data.size|format_bytes}</td>
                        <td>{$key}</td>
                        <td>-</td>
                        <td class="action">
                            <a class="db-import" href="{:U('import?time='.$data['time'])}">{$Think.Lang.L_BTN_REDUCTION}</a>&nbsp;
                            <a class="ajax-get confirm" href="{:U('del?time='.$data['time'])}">{$Think.Lang.L_BTN_DELETE}</a>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
    </div>
    <!-- /应用列表 -->
</block>

<block name="script">
    <script type="text/javascript">
        $(".db-import").click(function(){
            var self = this, status = ".";
            $.get(self.href, success, "json");
            window.onbeforeunload = function(){ return "正在还原数据库，请不要关闭！" }
            return false;
        
            function success(data){
                if(data.status){
                    if(data.gz){
                        data.info += status;
                        if(status.length === 5){
                            status = ".";
                        } else {
                            status += ".";
                        }
                    }
                    $(self).parent().prev().text(data.info);
                    if(data.part){
                        $.get(self.href, 
                            {"part" : data.part, "start" : data.start}, 
                            success, 
                            "json"
                        );
                    }  else {
                        window.onbeforeunload = function(){ return null; }
                    }
                } else {
                    updateAlert(data.info,'alert-error');
                }
            }
        });
    </script>
</block>