<extend name="Base/common"/>
<block name="header">
    <div class="container">
        <div class="hero-unit">
            <div style="margin-top:20px;width:100%;text-align: center;">
                <p><a href="#" class="btn btn-success btn-lg">&nbsp;&nbsp;Try It!&nbsp;&nbsp;</a></p>
            </div>
        </div>

</block>

<block name="body">

    <div class="col-md-12">
        <div class="user_account_title">Global Language Support</div>
    </div>

    <div class="col-md-12">
       <ul class="language_img">
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li>
               <img style="width:60px;" src="__STATIC__/images/u32.png" >
           </li>
           <li class="click_more">
               <h4><a href="#">More...</a></h4>
           </li>
       </ul>

    </div>
    <div class="col-md-12">
        <div class="details_content_lang center-block">
            getPro 采用众包机制，译员来自全球各个国家，精通全球各种语言。无论你是在马尔代夫的海滩漫步，还是在上海参加会议，或是在巴黎的餐馆享受美食，当你需要和身边的人用不同语言交谈时，遍布全球的译员们会实时为你提供任何语言的翻译帮助。整个世界在陪伴着你，语言再不是一个障碍。
        </div>
    </div>

    <div class="col-md-12">
        <div class="user_account_title">Various modes of translation</div>
    </div>

    <div class="col-md-12">
                <div class="col-md-5">
                    <img src="__STATIC__/images/u16.jpg" style="float: right;width:390px;">
                </div>
                <div class="col-md-7">
                    <img src="__STATIC__/images/u18.jpg" style="width:600px;">
                    <div class="details_content_lang2">
                        getPeo 支持多种翻译和口译模式，你可以直接输入文字，或者拷贝粘贴已有的文档，也可以用手机录制一段语音发送给译员，还可以呼叫译员为你进行现场实时视频口译，一切以你的需求为出发点，方便快捷。
                    </div>
                </div>
    </div>

    <div class="col-md-12">
        <div class="user_account_title">Real-time video interpret</div>
    </div>

    <div class="col-md-12">
        <div class="col-md-6">
            <img src="__STATIC__/images/u90.jpg" style="width:520px;"/>
        </div>
        <div class="col-md-6">
            <div class="details_content_lang3">
                通过实时视频翻译，译员如同来到你的身边，为你和他人的现场对话进行交替翻译，帮助你用不同的语言和他人顺利交流。getPro 支持前后摄像头切换，你只需把手机放在一个合适的位置让译员能够看到你们即可。</div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="user_account_title">Choose your favorite translator or interpreter</div>
    </div>

    <div class="col-md-12">
        <div class="col-md-5">
            <img src="__STATIC__/images/u16.jpg" style="float: right;width:390px;">
        </div>
        <div class="col-md-7">
            <img src="__STATIC__/images/u18.jpg" style="width:600px;">
            <div class="details_content_lang2">
                在你收到译员的翻译回复时，在回复内容的下方附带有一个译员的信息卡，你可以看到译员的头像、姓名和 ID 号码。点击 “详细” 按钮还可以查看该译员的其他资料，包括个人简介、翻译资历证书、还有回复率和平均回复速度等统计数据。你可以将喜欢的译员加入通讯录，以后发布任务时可以选择仅向该译员定向发布。你也可以通过 ID 号码搜索其他的译员并加入你的通讯录。</div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="user_account_title">Reward and other options</div>
    </div>

    <div class="col-md-12">
        <div class="col-md-5">
            <img src="__STATIC__/images/u16.jpg" style="float: right;width:360px;">
        </div>
        <div class="col-md-7">

            <div class="details_content_lang4">
                <h2><b>指定译员</b></h2>
                <p>默认情况下，你发布的任务会被随机分发给 20 名符合翻译要求并处于空闲状态的译员，并将最快的回复发回到你的手机上。如果你有熟悉和喜欢的译员，也可以选择只向他 / 她单独发送任务。</p>
            </div>
            <div class="details_content_lang4">
                <h2><b>指定译员</b></h2>
                <p>
                    你可以限定译员用笔译或口译的方式为你翻译，默认的设置是笔译或口译均可。
                </p>
            </div>
            <div class="details_content_lang4">
                <h2><b>指定译员</b></h2>
                <p>
                    你可以设定任务的时间限制，从 5 分钟到 120 分钟。超过时间限制的任务将自动失效，你可以重发或将其删除。
                </p>
           </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="details_content_lang5 center-block">
            <h2><b>指定译员</b></h2>
            <p>
                通过实时视频翻译，译员如同来到你的身边，为你和他人的现场对话进行交替翻译，帮助你用不同的语言和他人顺利交流。getPro 支持前后摄像头切换，你只需把手机放在一个合适的位置让译员能够看到你们即可。

         </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="details_content_lang5 center-block">
            <h2><b>指定译员</b></h2>
            <p>
                通过实时视频翻译，译员如同来到你的身边，为你和他人的现场对话进行交替翻译，帮助你用不同的语言和他人顺利交流。getPro 支持前后摄像头切换，你只需把手机放在一个合适的位置让译员能够看到你们即可。

            </p>
        </div>
    </div>

    </div>
</block>
