<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>{:get_username()}的信息中心</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>

<block name="side">
    <!-- 左侧 nav
    ================================================== -->
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            <li <if condition="$action eq 'us'">class='active'</if>><a href={:U("home/index/help",array('type'=>'us'))}><i class="icon-chevron-right"></i>支付测试</a></li>
            <li <if condition="$action eq 'description'">class='active'</if>><a href={:U("home/index/help",array('type'=>'description'))}><i class="icon-chevron-right"></i>公司简介</a></li>
            <li <if condition="$action eq 'alink'">class='active'</if>><a href={:U("home/index/help",array('type'=>'alink'))}><i class="icon-chevron-right"></i>联系方式</a></li>
        </ul>
    </div>
</block>

<block name="body">
    <div class="span9">
        <!-- Contents
        ================================================== -->
        <section id="contents">
           <if condition="$type eq 'us'">
            支付测试-paypal<br>
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                 <input type="hidden" name="cmd" value="_xclick"> <!--// "_xclick" 立即购买 -->
                <input type="hidden" name="business" value="dz5362_3@qq.com"> 

                <input type="hidden" name="on0" value="customerId"><!-- 自定义的参数1 -->

                <input type="hidden" name="os0" value="stephen"><!-- 对应上面自定义参数1对应的值 -->

                <input type="hidden" name="on1" value="address"><!-- 自定义的参数2 -->

                <input type="hidden" name="os1" value="shanghai china"><!-- 对应上面自定义参数2对应的值 -->
                <!--这里告诉paypal付款的通信url,即当客户付款后调用这个url通知系统-->
                <!-- //PayPal账户上的电子邮件地址 -->
                <input type="hidden" name="item_name" value="memberpay">
                
                <!-- //物品名称（或购物车名称） -->
                <input type="hidden" name="currency_code" value="USD"> 
                
                <!-- //定义币种以标示货币变量 值可以为 "USD"、"EUR"、"GBP"、"CAD"、"JPY"。 -->
                <input type="hidden" name="amount" value="0.01"> 
                
                <!-- //物品的价格（购物车中所有物品的总价格,因为是_Xclick模式） -->
                <input type="submit"  name="submit" value='马上付款'>
            </form>
           </if>
            <if condition="$type eq 'description'">
            公司简介
           </if>
           <if condition="$type eq 'alink'">
            联系方式
           </if>
           <if condition="$type eq 'success'">
            支付完成！
           </if>
        </section>
    </div>
    </div>
</block>
