<extend name="Base/common"/>
<style type="text/css">
    .modal-dialog {
      text-align: center;
    }
    .modal-content {
      box-shadow: none !important;
    }
    .ot-dialog .modal-dialog{
      width: 195px;
    }
    .modal.in.ot-dialog .modal-dialog {
      transform:translate(0px, 250px);
      -webkit-transform:translate(0px, 250px);
      -ms-transform:translate(0px, 250px);
    }
  </style>
<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h3>用户中心</h3>
        </div>
    </header>
</block>

<!--<block name="side">-->

    <!--&lt;!&ndash; 左侧 nav-->
    <!--================================================== &ndash;&gt;-->
    <!--<div class="span3 bs-docs-sidebar">-->

        <!--<ul class="nav nav-list bs-docs-sidenav">-->
            <!--<li <if condition="$action eq 'us'">class='active'</if>><a href={:U("home/index/help",array('type'=>'us'))}><i class="icon-chevron-right"></i>个人信息</a></li>-->
            <!--<li <if condition="$action eq 'description'">class='active'</if>><a href={:U("home/index/help",array('type'=>'description'))}><i class="icon-chevron-right"></i>其他操作1</a></li>-->
            <!--<li <if condition="$action eq 'alink'">class='active'</if>><a href={:U("home/index/help",array('type'=>'alink'))}><i class="icon-chevron-right"></i>其他操作2</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</block>-->

<block name="body">
    <div class="span9">
       <div class="row">
          <div class="col-md-9 col-sm-8 topic_title">
            <h3>个人信息</h3>
            <p class="topic_acount">
                <a href="{:U('Home/User/Index',array('type'=>'index'))}">个人信息</a>&nbsp;|&nbsp;
                <a href="{:U('Home/User/Index',array('type'=>'chart'))}">结算中心</a>&nbsp;|&nbsp;
                <a href="{:U('Home/User/Index',array('type'=>'pwd'))}">修改密码</a>&nbsp;|&nbsp;
                <a href="{:U('Home/User/Index',array('type'=>'csv'))}">导出报表</a>&nbsp;|&nbsp;
                <a href="{:U('Home/User/Index',array('type'=>'order'))}">在线充值</a></p>
          </div>
          <div class="col-md-9 col-xs-12 col-sm-8 main-block">
    <div class="ot_person_center_info first-child last-child">
    <if condition="$types eq 'index'">
      <table class=table>
        <tbody>
        <tr>
          <td>用户名：</td>
          <td>{$userinfo.1}</td>
        </tr>
        <tr>
          <td>邮箱：</td>
          <td>{$userinfo.2}</td>
        </tr>
        <tr>
          <td>最近登录：</td>
          <td>2014-02-19 11:45:08</td>
        </tr>
        <tr>
          <td>最近登录IP：</td>
          <td>1.202.19.235</td>
        </tr>
        <tr>
          <td>注册时间：</td>
          <td>2014-02-13 17:20:02</td>
        </tr>
        <tr>
          <td>积分：</td>
          <td>20</td>
        </tr>
        <tr>
          <td>等级：</td>
          <td>1</td>
        </tr>
        <tr>
          <td>头衔：</td>
          <td>初生牛犊</td>
        </tr>
        </tbody>
      </table>
    </if>
    <if condition="$types eq 'pwd'">
      <form class="login-form demoform" action="{:U('Home/User/changepwd')}" method="post" id="form1">
          <div class="control-group">
              <label class="control-label" for="inputPassword1">原密码：</label>
            <div class="controls">
              <input type="password" id="inputPassword1"  class="span3" placeholder="请输入旧密码"  errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="oldpassword">
              <div class="Validform_checktip"></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword2">新密码：</label>
            <div class="controls">
              <input type="password" id="inputPassword2"  class="span3" placeholder="请输入新密码"  errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="password">
              <div class="Validform_checktip"></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword3">再次输入：</label>
            <div class="controls">
              <input type="password" recheck="password" id="inputPassword3"  class="span3" placeholder="请再次输入新密码"  errormsg="您两次输入的账号密码不一致！" nullmsg="请再输入一次密码" datatype="*" name="repassword">
                <div class="Validform_checktip"></div>
            </div>
          </div>
          
          <div class="control-group">
            <div class="controls">
              <input type="button" class="btn btn-danger" id="changepwd_btns" value="修改密码">
                <input type="button" class="btn btn-info" id="changepwd_resets" value="重新填写">

            </div>
          </div>
        </form>
    </if>
        <if condition="$types eq 'chart'">
            <div id="chartuser" style="min-width: 600px;height:380px;border: 1px solid #ccc;">
                这里将要显示图表
            </div>
            <script type="text/javascript">
                $('#chartuser').html("<div style='margin:0 auto;font-weight: bold;padding-top:100px;width:200px;'>正在加载数据！请稍后</div>");
                $(function(){
                    $.post("{:U('Home/Chart/chartuser')}",{types:"chart",name:"user"},function(msg){
                        if(msg != 0)
                        {
                            $('#chartuser').html(msg);
                        }
                        else
                        {
                            $('#chartuser').html('Error Load!');
                        }
                    })
                })
            </script>
        </if>
        <if condition="$types eq 'csv'">
            <div>
                <a class='btn btn-info' href="javascript:outputcsvfun();">导出csv</a>
            </div>
            <div>
              <h4>用户数据</h4>
                <table class="table table-bordered">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>other</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1233</td><td>1233</td><td>1233</td><td>1233</td>
                </tr>
                <tr>
                  <td>12331</td>
                   <td>12331</td>
                    <td>12331</td>
                     <td>12331</td>
                </tr>
                <tr>
                  <td>12332</td>
                   <td>12332</td>
                    <td>12332</td>
                     <td>12332</td>
                </tr>
                <tr>
                  <td>12333</td>
                   <td>12333</td>
                    <td>12333</td>
                     <td>12333</td>
                </tr>
              </tbody>
            </table>
            </div>
            <script>
              function outputcsvfun()
              {
                  var domain = document.domain;
                  var url = "{:U('Home/Chart/outputcsv')}";
                  //alert('http://' + domain + url);
                  window.location.href = 'http://' + domain + url;
              }
            </script>
        </if>
        <if condition="$types eq 'order'">

  <form class="form-horizontal" method="post" action="{:U('Home/Paypal/setOrder')}">
    <fieldset>
      <div id="legend" class="">
      </div>
       <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01"></label>
          <div class="controls">
            <p>付款成功后，充值数量将会在个人信息中显示</p>
          </div>
        </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">充值</label>
          <div class="controls">
            <input type="text" name="account" placeholder="请输入充值金额" class="input-xlarge">
            <p class="help-block">单位为美元</p>
          </div>
        </div>

    <div class="control-group">
          <label class="control-label"></label>

          <!-- Button -->
          <div class="controls">
            <input type="submit" class="btn btn-success"  value='下单并付款'/>
          </div>
        </div>

    </fieldset>
  </form>

        </if>
    </div>
    </div>
  </div>
        </div>
    </div>
</block>
