<div class="bs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav">
        <li <if condition="$guide eq 'paymentAccount'">class="active"</if> >
            <a href="{:U('User/paymentAccount')}" ><if condition="$guide eq 'paymentAccount'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;</if>Payment Account</a>
        </li>
        <li <if condition="$guide eq 'paymentHistory'">class="active"</if> >
            <a href="{:U('User/paymentHistory')}"><if condition="$guide eq 'paymentHistory'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;</if>Payment History</a>
        </li>
        <li <if condition="$guide eq 'depositHistory'">class="active"</if>>
            <a href="{:U('User/depositHistory')}"><if condition="$guide eq 'depositHistory'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;</if>Deposit History</a>
        </li>
    </ul>
    <br>
    <ul class="nav">
        <li <if condition="$guide eq 'incomeAccount'">class="active"</if> >
            <a href="{:U('User/incomeAccount')}">
                <if condition="$guide eq 'incomeAccount'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;</if>Income Account</a>
        </li>
        <li <if condition="$guide eq 'incomeHistory'">class="active"</if> >
            <a href="{:U('User/incomeHistory')}"><if condition="$guide eq 'incomeHistory'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;</if>Income History</a>
        </li>
        <li <if condition="$guide eq 'withdrawsHistory'">class="active"</if> >
            <a href="{:U('User/withdrawsHistory')}"><if condition="$guide eq 'withdrawsHistory'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;</if>Withdraws History</a>
        </li>
    </ul>
</div>