<extend name="Base/common" />


<block name="body">
    <section>
        <div class="col-md-12">
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4" style="padding-top: 30px;">
            <form class="form-horizontal login-form login" action="__SELF__" method="post">
                <div class="form-group">
                    <!-- Text input-->
                    <label class="form-label" for="">User ID:</label>
                    <div class="controls">
                        <input type="text" id="inputEmail" class="col-md-8" placeholder=""  ajaxurl="/member/checkUserNameUnique.html" errormsg="" nullmsg="" datatype="*1-16" value="" name="id">
                       <span>&nbsp;&nbsp;<a href="#">What's my ID?</a></span>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Text input-->
                    <label class="control-label" for="">Password:</label>
                    <div class="controls">
                        <input type="password" id="inputPassword"  class="col-md-8" placeholder=""  errormsg="" nullmsg="" datatype="*6-20" name="password">
                        <span>&nbsp;&nbsp;<a href="{:U('User/retake')}">Retrieve password</a></span>
                    </div>
                </div>

                <div class="form-group">

                    <!-- Text input-->
                    <label class="control-label" for="">Verify code：</label>
                    <div class="controls">
                        <input type="text" id="inputPassword" class="col-md-8" placeholder=""  errormsg="" nullmsg="" datatype="*5-5" name="verify">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <img class="verifyimg reloadverify" alt="" src="{:U('verify')}" style="cursor:pointer;">
                    </div>
                    <div class="controls Validform_checktip text-warning"></div>
                </div>
                <div class="form-group">
                    <div class="controls" style="margin-left:100px;">
                        <button type="submit" class="btn btn-success btn-large">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </section>
</block>

<block name="side"> </block>
<block name="script">
    <script type="text/javascript">

        $(document)
                .ajaxStart(function(){
                    $("button:submit").addClass("log-in").attr("disabled", true);
                })
                .ajaxStop(function(){
                    $("button:submit").removeClass("log-in").attr("disabled", false);
                });


        $("form").submit(function(){
            var self = $(this);
            $.post(self.attr("action"), self.serialize(), success, "json");
            return false;

            function success(data){
                if(data.status){
                    window.location.href = data.url;
                } else {
                    self.find(".Validform_checktip").text(data.info);
                    //刷新验证码
                    $(".reloadverify").click();
                }
            }
        });

        $(function(){
            var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
        });
    </script>
</block>
