<extend name="Base/common"/>
<style type="text/css">
</style>

<block name="body">
    <div class="usercenter_body">
        <div class="col-md-12">
            <div class="user_account_title">Payment Account</div>
        </div>
        <div class="col-md-3">
            <include file="User/left"/>
        </div>
        <div class="col-md-9">
            <table class="table table-bordered">
                <tbody>
                <tr style="text-align: center;">
                    <td style="font-weight: bold;">
                        User Id
                    </td>
                    <td>
                        {$data.id}
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td style="font-weight: bold;">
                        Balance
                    </td>
                    <td>
                        US$ <font color="#9acd32">{$data.money}</font>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="{:U('User/deposit')}" class="btn btn-success">Deposit</a>
            <a href="{:U('User/profile')}" class="btn btn-primary">Reset password</a>
        </div>
     </div>
</block>
