<extend name="Base/common"/>
<style type="text/css">
</style>

<block name="body">
    <div class="usercenter_body">
        <div class="col-md-12">
            <div class="user_account_title">Payment History</div>
        </div>
        <div class="col-md-3">
            <include file="User/left"/>
        </div>
        <div class="col-md-9">
            <table class="table table-bordered" style="text-align: center;">
                <thead>
                <tr class="active">
                    <th><center>Date (dd-mm-yyyy)</center></th>
                    <th><center>Time</center></th>
                    <th><center>Translator</center></th>
                    <th><center>Amount</center></th>
                </tr>
                </thead>
                <tbody>
                <volist name="data" id="vo">
                    <tr>
                        <td>{$vo.ymd}</td>
                        <td>{$vo.his}</td>
                        <td>ID:{$vo.reply_id}</td>
                        <td>US$ {$vo.price}</td>
                    </tr>
                </volist>
                <if condition="empty($data)" >
                    <tr>
                        <td colspan="4" style="text-align: center;">Empty</td>
                    </tr>
                </if>
                </tbody>
            </table>
            <div class="page" style="text-align: right;">
                <ul class="pagination">{$page}</ul>
            </div>
            <a href="{:U('User/paymentHistory' , array('export'=>1))}" class="btn btn-success" style="margin-left:350px;">Print</a>

        </div>
    </div>
</block>
