<extend name="Base/common" />


<block name="body">
    <section>
        <div class="col-md-12">
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4" style="padding-top: 80px;">
            <form class="form-horizontal login-form login" action="{:U('User/retake')}" method="post">
                <div class="form-group">
                    <!-- Text input-->
                    <label class="form-label" for="">Email:</label>
                    <div class="controls">
                        <input type="text" id="inputEmail" class="col-md-8" placeholder=""  value="" name="email">
                    </div>

                </div>
                <div class="controls Validform_checktip text-warning"></div>
                <div class="form-group">
                    <div class="controls" style="margin-left:100px;">
                        <button type="submit" class="btn btn-success btn-large">Next</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </section>
</block>

<block name="side"> </block>
<block name="script">
    <script type="text/javascript">

        $(document)
                .ajaxStart(function(){
                    $("button:submit").addClass("log-in").attr("disabled", true);
                })
                .ajaxStop(function(){
                    $("button:submit").removeClass("log-in").attr("disabled", false);
                });


        $("form").submit(function(){
            var self = $(this);
            $.post(self.attr("action"), self.serialize(), success, "json");
            return false;

            function success(data){
                if(data.status){
                    window.location.href = data.url;
                } else {
                    self.find(".Validform_checktip").text(data.info);
                    //刷新验证码
                    $(".reloadverify").click();
                }
            }
        });
    </script>
</block>
