<extend name="Base/common"/>
<style type="text/css">
</style>

<block name="body">
    <div class="usercenter_body">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
        <div class="col-md-3">
            <div class="bs-sidebar hidden-print affix-top" role="complementary">
                <ul class="nav">
                    <li class="active">
                        <a href="#download">Payment Account</a>
                    </li>
                    <li>
                        <a href="#whats-included">Payment History</a>
                    </li>
                    <li>
                        <a href="#template">Deposit History</a>
                    </li>
                </ul>
                <br>
                <ul class="nav">
                    <li>
                        <a href="#download">Income Account</a>
                    </li>
                    <li>
                        <a href="#whats-included">包含了哪些文件</a>
                    </li>
                    <li>
                        <a href="#template">基本模版</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            显示具体内容
        </div>
     </div>
</block>
